.clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--txt-mostly-black);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.clients__item {
  margin-bottom: 30px;
}

.clients__link {
  display: flex;
  width: 210px;
  height: 92px;
  border: 1px solid var(--clr-icon);
  border-radius: 4px;
  outline: none;
  align-items: center;
  justify-content: center;
  fill: var(--clr-icon);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: var(--bgd-blue);
    border: 1px solid var(--txt-blue);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}
