.dignity-list {
  display: block;
  // flex-direction: column;

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }
    & > .dignity-item {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
    }
  }
}

.dignity-item:not(:last-child) {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.dignity-item-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.dignity-thumb {
  background-color: var(--bgd-light-grayish-blue);
  width: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.dignity-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--txt-dark-gray);
  width: auto;
}
