.buttons__list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 25px;
  & .buttons__button.current {
    background-color: var(--bgd-blue);
    color: var(--txt-white);
  }
}

.buttons__item {
  margin-bottom: 15px;
}

.buttons__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--txt-white);
    background-color: var(--txt-blue);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects__link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  &:focus,
  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.projects__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project-sign {
  padding: 20px 24px;
  border: 1px solid var(--border-portf);
  border-top: none;
}

.project-sign__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--txt-mostly-black);
  margin-bottom: 4px;
}

.project-sign__about {
  font-size: 16px;
  line-height: 1.87;
  color: var(--txt-dark-gray);
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.project-wrapper__txt {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  color: var(--txt-white);
  top: 0;
  left: 0;
  width: 450px;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  .projects__item:focus &,
  .projects__item:hover & {
    transform: translateY(0px);
  }
  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0px);
  }
}
