.team {
  background-color: var(--bgd-light-grayish-blue);
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  // display: flex;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
  }
}

.team-list__item {
  list-style: none;
  .team-list > & {
    flex-basis: auto;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and(min-width: 768px) {
    .team-list > & {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
  }
  @media screen and(min-width: 1200px) {
    .team-list > & {
      flex-basis: unset;
      margin: 0;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.icon-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.icon-list__item {
  display: inline-flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  fill: var(--clr-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--bgd-blue);
    fill: var(--txt-white);
  }
}

.member-sign {
  margin: auto;
  max-width: 450px;
  padding: 30px 32px;
  background-color: var(--txt-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-sign__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.member-sign__about {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--txt-dark-gray);
  margin-bottom: 16px;
}
