.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  width: 450px;

  background-color: var(--txt-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
}

.modal__button {
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--txt-blue);
  }
}

.modal__icon {
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

/* Form */

.modal-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__form {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--bgd-blue);
  }
}

.icon-person {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__name {
  position: relative;
}

.modal-form__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  .modal-form__input:focus + &,
  .modal-form__input:hover + & {
    fill: var(--txt-blue);
  }
  &:focus,
  &:hover {
    fill: var(--txt-blue);
  }
}

.modal-form__tel {
  position: relative;
}

.icon-tel {
  position: absolute;
  top: 11px;
  left: 12px;
}

.form-email {
  position: relative;
}

.icon-email {
  position: absolute;
  top: 11px;
  left: 12px;
}

.modal__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--txt-dark-gray);
  display: flex;
  margin-bottom: 4px;
  cursor: pointer;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--bgd-blue);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.label-checkbox {
  display: block;
  align-items: center;
  justify-content: space-around;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form__button {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--txt-white);
  background-color: var(--bgd-blue);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #188ce8;
  }
}

.icon {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  width: 16px;
  height: 15px;
  background-color: var(--txt-white);
  border: 2px solid var(--txt-mostly-black);
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox:focus + &,
  .checkbox:hover + & {
    border-color: var(--bgd-blue);
  }
  &:hover,
  &:focus {
    border-color: var(--bgd-blue);
  }
  .checkbox:checked + & {
    border-color: transparent;
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.contract-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--txt-blue);
}
