*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--txt-mostly-black);
  background-color: var(--txt-white);
  letter-spacing: 0.03em;
}

.link {
  color: var(--txt-mostly-black);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    @include container(480px, null, null, null, null, null);
  }

  @media screen and (min-width: 768px) {
    @include container(768px, null, null, null, null, null);
  }

  @media screen and (min-width: 1200px) {
    @include container(1200px, null, null, auto, auto, null);
  }
}

img {
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  // padding-top: 60px;
  // padding-bottom: 60px;
  @include section(60px, 60px);
  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.logo {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
