*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--txt-mostly-black);
  background-color: var(--txt-white);
  letter-spacing: 0.03em;
}

.link {
  color: var(--txt-mostly-black);
}

.container {
  // width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
}

img {
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  text-decoration: none;
}
