:root {
  /* background */
  --bgd-very-dark-grayish-blue: #2f303a;
  --bgd-light-grayish-blue: #f5f4fa;
  --bgd-blue: #2196f3;
  --border: #ececec;
  --border-portf: #eeeeee;
  --shadow: #a1a1a5;
  --bgd-icon: #43444d;
  --bgd-dark-grey: #41425d;
  --bgd-btn-blue: #188ce8;

  /* text  */
  --txt-blue: #2196f3;
  --txt-mostly-black: #212121;
  --txt-black: #000000;
  --txt-white: #ffffff;
  --txt-dark-gray: #757575;
  --txt-light-gray: #acacb0;
  --clr-icon: #afb1b8;
}
